.card{
  color: black;
  width: 30%;
  text-align: center;
  box-shadow: 0px 0px 5px black;
  margin: 20px;
  padding: 10px 0px;
  border-radius: 10px;
}
.card h1{
  font-size: 25px;
  color: green;
  margin: 20px;
}
.card p{
  font-size: 20px;
}
.card img{
  width: 70%;
}

.enlarged-card{
  height: 80vh;
  width: 80vw;
  color: #fff;
}

